<%= render 'layouts/navbar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Grade number:</strong>
  <%= @grade.grade_number %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>

<% if can? :create, @course %>
	<%= link_to 'New Course', new_grade_course_path(@grade, @course) %>
<% end %>
