<p id="notice"><%= notice %></p>

<h1>Listing Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Video url</th>
      <th>Chapter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.description %></td>
        <td><%= lesson.notes %></td>
        <td><%= lesson.video_url %></td>
        <td><%= lesson.chapter_id %></td>
        <td><%= link_to 'Show', [@chapter, lesson] %></td>
        <td><%= link_to 'Edit', edit_chapter_lesson_path(@chapter, lesson) %></td>
        <td><%= link_to 'Destroy', [@chapter, lesson], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_chapter_lesson_path %>
<%= link_to 'Back', course_chapter_path(@chapter.course, @chapter) %>