<%= render 'layouts/navbar' %>

<div class="banner">
  <h1>Grade <%= @grade.grade_number %></h1>
</div>

<!-- <div class="sub_nav_color">
  <div class="wrapper">
      <nav>
        <ul>
          <li><a href="#" >All</a></li>
          <li><a href="#" id="active">Math</a></li>
          <li><a href="#">Physics</a></li>
          <li><a href="#">Chemistry</a></li>
          <li><a href="#">Biology</a></li>
          <li><a href="#">Geology</a></li>
          <li><a href="#">English</a></li>
          <li><a href="#">Arabic</a></li>
        </ul>
      </nav>
  </div>
</div> -->

<div class="courses">
  <div class="semesters">
    <h3>Courses</h3>
    <% @grade.courses.each do |course| %>
    <div class="course_group">
      <div class="course_list">
        <h3>Subject</h3>
        <p><%= course.title %></p>
        <%= link_to "View Course", [@grade, course], :class => "button button_orange" %>
        <div class="course_links">
        <% if can? :update, @course %>
          <%= link_to 'Edit', edit_grade_course_path(@grade, course) %> |
        <% end %>
        <% if can? :destroy, @course %>
          <%= link_to 'Destroy', [@grade, course], method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      </div>
      </div>
    <% end %>
  </div>
  <div class="create_course">
  <% if can? :create, @course %>
  <%= link_to 'Add New Course', new_grade_course_path(@grade, @course), :class => "button button_orange" %>
  <% end %>
</div>
</div>

<!-- <footer>
  <div class="wrapper_skinny">
    <div class="footer_content">
      <p>Copyright arabecademy 2015</p>
    </div>
  </div>
</footer> -->