<%= render 'layouts/navbar' %>

<div class="wrapper_skinny">
  <h1><%= @course.title %></h1>
  <% @course.chapters.each do |chapter| %>
    <h4><%= chapter.title %></h4>
    <%= link_to 'Show', [@course, chapter] %>
    <% if can? :update, @chapter %>
      <%= link_to 'Edit', edit_course_chapter_path(@course,chapter) %>
    <% end %>
    <% if can? :destroy, @chapter %>
      <%= link_to 'Destroy', [@course, chapter], method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
    <% end %>
    <% chapter.lessons.each do |lesson| %>
     <%= lesson.title %> - <%= lesson.description %><br><br>
    <% end %>
  <% end %><br>
    <h1>Available Packages</h1>
  <% @course.packages.each do |package| %>
    <h4><%= package.title %></h4>
    <%= package.price %>
    <%= link_to 'Show', [@course, package] %>
    <% if can? :update, @package %>
      <%= link_to 'Edit', edit_course_package_path(@course, package) %>
    <% end %>
    <% if can? :destroy, @package %>
      <%= link_to 'Destroy', [@course, package], method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
    <%= link_to 'Back', grade_courses_path %><br><br>
    <% if can? :create, @chapter %>
      <%= link_to "Add Chapter", new_course_chapter_path(@course) %>
    <% end %>
    <% if can? :create, @package %>
      <%= link_to 'Add Pacakge', new_course_package_path(@course, @package) %><br><br>
    <% end %>
</div>






