<%= render 'layouts/navbar' %>
<!-- <div class="banner"> -->
  <!-- 
</div> -->
<div class="wrapper_skinny">
  <h1><%= @course.title %></h1>
  <% @course.chapters.each do |chapter| %>
    <%= chapter.title %>
    <%= link_to 'Show', [@course, chapter] %>
    <%= link_to 'Edit', edit_course_chapter_path(@course,chapter) %>
    <%= link_to 'Destroy', [@course, chapter], method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
  <% end %><br>
    <%= link_to 'Back', grade_courses_path %><br><br>
    <%= link_to "Add Chapter", new_course_chapter_path(@course) %>
</div>


<!-- <footer>
  <div class="wrapper_skinny">
    <div class="footer_content">
      <p>Copyright arabecademy 2015</p>
    </div>
  </div>
</footer> -->




